.App {
  text-align: center;
}

.form-holder {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  border: 2px solid green;
  height: 100vh;
}

.form-image {
  width: 500px;
  height: 400px;
  border-radius: 8px;
  margin-top: 5%;
}

.form-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border: 2px solid blue;
  border-radius: 6px;
  height: 250px;
  width: 300px;
  margin-top: 1%;
}

.form-wrapper p{
  font-size: 1.5rem;
  font-family: 'Caladea', serif;
  margin: 0 8px 10px;
}

.form-button {
  border-radius: 6px;
  height: 40px;
  font-size: 20px;
  margin-top: 5%;
}

.home-nav {
  text-decoration: none;
  color: blue;
}

.form-input {
  margin: 5px;
  height: 20px;
  border-radius: 6px;
}

